$enable-rounded: false;

$theme-colors: (
  'primary': #00a843,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.form-control {
  border: 0;
  border-bottom: 1px solid #ced4da;
  color: rgba(42, 56, 66, 1);
}

a:hover,
.btn-link:hover {
  text-decoration: none;
}
